
      <mat-card class="card" *ngFor="let order of orders">
        <mat-card-subtitle>{{order.time}}</mat-card-subtitle>
        <mat-card-subtitle>{{order.customerEmail}}</mat-card-subtitle>
        <mat-card-title>{{order.customerName}}</mat-card-title>
        <mat-card-content>
          <p>{{order.customerAddress}} : {{order.customerPlace}}</p>
          <p>Total Price {{(order.washcost+order.addOnCost)}}</p>
          <p>Coupon Applied - {{order.promoprice}}</p>
          <p>Total Cost : {{(order.washcost+order.addOnCost)-order.promoprice}} </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
          <br>
        <p>Washer Name : {{(order.washerName)}}</p>
        <mat-divider inset></mat-divider>
      </mat-card>


