<!DOCTYPE html>
<head>
  
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="col-lg-6">
    
              
        <h1 class="text-center">Enter Car Details</h1>
          <div class="form-group">
            <label for="car id">Car Id</label>
            <br>
            <input class="form-control" required type="text" [(ngModel)]="car.id" name="Services"
                id="text" placeholder="Enter your car id" />
        </div>
          <div class="form-group">
            <label for="car Name">Car Name</label>
            <br>
            <input class="form-control" required type="text" [(ngModel)]="car.carName" name="Services"
                id="text" placeholder="Enter your car name" />
        </div>
          <div class="form-group">
            <label for="car Number">Car Number</label>
            <br>
            <input class="form-control" required type="text" [(ngModel)]="car.carNumber" name="Services"
                id="text" placeholder="Enter your car number" />
        </div>
        <div class="form-group">
          <label for="car color">Car color</label>
          <br>
          <input class="form-control" required type="text" [(ngModel)]="car.carColor" name="Services"
              id="text" placeholder="Enter your car color" />
      </div>
      <div class="form-group">
        <label for="Owner Name">Owner name</label>
        <br>
        <input class="form-control" required type="text" [(ngModel)]="car.ownerName" name="Services"
            id="text" placeholder="Enter car Owner Name" />
    </div>
    <div class="form-group">
      <label for="Location">Car Location</label>
      <br>
      <input class="form-control" required type="text" [(ngModel)]="car.carLocation" name="Services"
          id="text" placeholder="Enter your car Location" />
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" name="submit_reg" value="Car Register" (click)="addcar()">
            <!-- <button type="continue" class="btn btn-md btn-dark mt-3"  routerLink="/payment">Continue</button> -->
                <!-- <button class="btn btn-md btn-dark mt-3" ><a routerLink="/payment">Book Now</a></button>   -->
                <button type="cancel" class="btn btn-md btn-dark mt-3" style="margin-left: 2%;">Cancel Now</button>
      
        </div>
        </div>