
    
                        <div class="container mb-5">
                            <div class="row">
                                <div class="col-lg-4" *ngFor="let wd of washData">
                                    <div class="washbox mt-3 mb-3">
                                        <h1>{{wd.servicename}}</h1>
                                        <p>{{wd.description}}</p>
                                        <p>{{wd.cost | currency:'INR'}}</p>
                                        
                                        <a mat-raised-button  [routerLink]="['/menu',wd.id]">Book Now &nbsp;</a>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
        
