
input.ng-invalid{
  border: 0.2px solid red;
}

input.ng-valid{
  border: 1px solid green;
}
h1{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  border: 2px solid #e3e3e3;
  align-items: center;
  width: 680px;
  margin: 5% auto;
  text-align: left;
}

label {
  display: block;
  width: 200px;
  text-align: left;
}
div {
  margin: 10px;
}

button{
  padding:12px;
  margin-bottom: 15px;
  color: rgb(26, 26, 26);
}

button:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(238, 235, 235);
}

.big-text{
  height: 80px;
  width: 180px;
}


.active button{
  background: fff;
  margin: 5px;
}
