<div class="jumbotron">
  <h1>Hello Customer,Welcome</h1>
  <li><a routerLink="/customer/view" ><p>View Orders</p></a></li>
  <li><a routerLink="/customer/viewpromos" ><p>View Promos</p></a></li>
  <li><a routerLink="/customer/viewcardetails" ><p>View Car Details</p></a></li>
  <li><a routerLink="/customer/viewaddons" ><p>View Car Details</p></a></li>
  <li><a routerLink="/customer/order"><p>Place New Order</p></a></li>
  <li><a routerLink="/customer/login" (click)="logout()"><p>Log Out</p></a>
</div>
