<div class="jumbotron">
  <h1>Hello {{username}},Welcome</h1>

    <li><a routerLink="/admin/vieworders"><p>View Orders</p></a></li>
    <li><a routerLink="/admin/viewpromos"><p>View Promos</p></a></li>
    <li><a routerLink="/admin/viewcardetails"><p>View Car Details</p></a></li>
    <li><a routerLink="/admin/viewaddons"><p>View Addons</p></a></li>
    <li><a routerLink="/admin/viewcustomers"><p>View Customers</p></a></li>
    <li><a routerLink="/admin/viewcarwashers"><p>View Car Washers</p></a></li>
    <li><a routerLink="/admin/add_promos"><p>Add New Promos </p></a></li>
    <li><a routerLink="/admin/add_cardetails"><p>Add New Car Details </p></a></li>
    <li><a routerLink="/admin/add_addons"><p>Add New AddOns </p></a></li>
    <li><a routerLink="/admin/contact"><p>Contact </p></a></li>

</div>
