<div class="container">
  <mat-toolbar class="navbar">
    <div class="logo-setting">
        <button (click)="_toggleSidebar()">
         <span><mat-icon class="menu">menu</mat-icon></span>
        </button>
        <a routerLink=""><img src="../../../assets/logo.png" alt="logo" class="logo">
             <span>GreenCarWash</span>
        </a>
    </div>
    <div>
        <span>
            <button mat-mini-fab color="primary">
              <a routerLink="/carwasher/">
                <mat-icon>home</mat-icon>
              </a>
            </button>
        </span>
        <span>
            <button mat-mini-fab color="primary" (click)="logout()">
              <mat-icon>logout</mat-icon>
            </button>
        </span>
    </div>
    </mat-toolbar>
    <ng-sidebar-container>
      <ng-sidebar [(opened)]="_opened">
        <button (click)="_toggleSidebar()"><mat-icon>close</mat-icon></button>
        <div class="side-nav">
           <a routerLink="/carwasher"><p>Dashboard</p></a>
           <a routerLink="/carwasher/vieworders"><p>View Orders</p></a>
          <a routerLink="/carwasher/contact"><p>Contact </p></a>
        </div>

      </ng-sidebar>
      <div ng-sidebar-content>
      <router-outlet></router-outlet>
      </div>
    </ng-sidebar-container>
</div>

